server {
  listen 80;
  listen 443 ssl;

  server_name %%hostname%% 192.168.2.50;

  root /vagrant;

  index index.php;

  ssl_certificate /etc/nginx/ssl/%%cert%%;
  ssl_certificate_key /etc/nginx/ssl/%%cert_key%%;

  include redirects.nginx;

  location / {
    try_files $uri $uri/ /index.php?$args;
  }

  #if ($scheme = http) {
  #  return 301 https://$server_name$request_uri;
  #}

  error_page 404 /404.html;

  error_page 500 502 503 504 /50x.html;

  location = /50x.html {
    root /usr/share/nginx/html;
  }

  include php.nginx;
  include common.nginx;
}
